html{
    background-image: url(images/background-astronaut.jpg);
    background-attachment: fixed;
    padding: 20px;
}
body{
    max-width: 1000px;
    background-color: rgba(255, 255, 255, .93);
    padding: 50px 50px 10px 50px;
    margin: auto;
}
video::cue{
    font-size: 2rem;
}
.con-button{
    font-size: 2rem;
}
.option1 li{
    border:5px solid rgb(230, 248, 174) ;
    width: fit-content;
    border-radius: 60px;
    padding: 10px;
    color:black; 
    font-size: large;
    font-style:oblique;
    font-weight: bold;
    margin: 5px;
}
.option1 li:hover{
    background-color: rgb(183, 254, 232); width: fit-content;border-radius: 10px;
}
.option2 li{
    font-weight: bold;
    font-size: large;
    padding :10 px;

    margin: 10px;
}
.option2 li:hover {
    border:dotted blueviolet 3px;
    opacity: 0.7;
    width:fit-content;
}

footer{
    text-align: center;
    padding: 20px 0px 20px 0px;
    margin-top: 40px;
    color: #98a6ad;
    border-top: 1px solid #e3eaef;
    display: inline-block;
    width: 100%;
    color: #98a6ad
}