html{
    background-color: #222222;
    background-attachment: fixed;
}
body{
    padding: 50px;
    margin: auto;
    max-width: 1000px;
    background-color: azure;
}
.table1 td{
    border: 2px solid black;
    padding: 5px;
}
.table1 {

    position: relative ; left:50px;

}
.tr1:hover{
    background-color: antiquewhite;

}
.tr2:hover{
    background-color: antiquewhite;
}
.tr3:hover{
    background-color: antiquewhite;
}
.contan{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contan div{
    border: 2px solid rgba(115, 195, 211, 0.708);
    width: 100px;
    padding: 10px;


}

footer{
    text-align: center;
    position:relative;
    bottom: 5px;
    margin-bottom: 5px;
}